body
{
  margin: 0;
  border: 0;
  padding: 0;
  background: #333333;
  text-align: center;
  color: #ffffff;
}

#content
{
  margin: 0;
  border: 0;
  padding: 0;
  width: 1080px;
  height: 100vh;
  position: relative;
  display: inline-block;
  text-align: left;
}

#title
{
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
  display: block;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: bold;
  align-items: center;
  vertical-align: middle;
}

#links
{
  right: 0;
  height: 100px;
  position: absolute;
  display: inline-block;
}

.link-image
{
  transform: translate(0,3px);
  padding-left: 20px;
  height: 36px;
  display: inline;
}

#intro
{
  position: relative;
  display: flex;
  gap: 2.5%;
}

#profile-picture
{
  max-width: 40%;
  max-height: 100%;
  width: auto;
  flex-shrink: 1;
  object-fit: contain;
}

#intro-text-side
{
  flex-grow: 0;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 23px;
  font-size: 17px;
}

#intro-text-below
{
  flex-grow: 0;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 23px;
  font-size: 17px;
}

#details
{
  position: relative;
  display: block;
  width: 100%;
}

.heading
{
  line-height: 30px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 1em;
  border: 0;
  padding: 0;
}

.padded-li
{
  margin-top: 0.8em;
  border: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #88aaff;
}
